<div id="about">
	<h2>About</h2>
	<div id="about-copy">
		<img src="img/bio.jpg" alt="Dan Lubbers" />
		<p>
			Dan Lubbers is a Photographer/High End Retoucher primarily based in Louisville, Kentucky. A  love of the outdoors has led Lubbers to places around the world like performing service work in Guatemala and roaming the pyraminds of Ancient Egypt. Lubbers got his start with Extreme sports photography when he went on the La Sportiva Solutions Climbing Tour in 2007. Lubbers has really delved into a passion for environmental portraiture. A love of good coffee usually leads one to find him at local coffee shops working diligently on his work.
			<a href="http://auroraphotos.com/SwishSearch?Keywords=dan%20lubbers&xtrasql=(rmrftyperm%20or%20rmrftyperf)" title="Aurora Photos"><img src="img/aurora.png" alt="Aurora Photos" class="aurora" /></a>
			<a href="http://tandemstock.com/browse?q=dan+lubbers" title="Tandem Still & Motion"><img src="https://tandemstock.com/assets/tandem_logo_SM_white.png" width="200" alt="Tandem Stills & Motion" class="tandem" /></a>
		</p>
	</div>
	<ul>
		<li><h3>Clients</h3></li>
		<li><a href="http://www.amazon.com/" title="Amazon">Amazon</a></li>
		<li><a href="http://www.sportiva.com/" title="La Sportiva">La Sportiva</a></li>
		<li><a href="http://www.prana.com/" title="Prana">Prana</a></li>
		<li><a href="http://mistymountain.com/" title="Misty Mountain Threadworks">Misty Mountain Threadworks</a></li>
		<li><a href="http://www.greenergrasspublishing.com/" title="Greener Grass Publishing">Greener Grass Publishing</a></li>
		<li><a href="http://www.dragcity.com/" title="Drag City Record Label">Drag City Record Label</a></li>
		<li><a href="http://www.bonnieprincebilly.com/" title="Bonnie Prince Billy">Bonnie Prince Billy</a></li>
		<li><a href="http://www.reduxpictures.com/" title="Redux Pictures">Redux Pictures</a></li>
	</ul>
	<ul>
		<li><h3>Editorials</h3></li>
		<li><a href="http://adventure.nationalgeographic.com/adventure/" title="National Geographic Adventure">National Geographic Adventure</a></li>
		<li><a href="http://www.rockandice.com/" title="Rock &amp; Ice Magazine">Rock &amp; Ice Magazine</a></li>
		<li><a href="http://www.climbing.com/" title="Climbing Magazine">Climbing Magazine</a></li>
		<li>Urban Climber Magazine</li>
		<li><a href="http://www.dpmclimbing.com/" title="Dead Point Magazine">Dead Point Magazine</a></li>
		<li><a href="http://www.uawfordcommunity.org/" title="UAW-Ford Community Magazine">UAW-Ford Community Magazine</a></li>
		<li><a href="http://www.spin.com/" title="Spin Magazine">Spin Magazine</a></li>
		<li><a href="http://icelandairwaves.is/" title="Icelandic Airwaves">Icelandic Airwaves</a></li>
		
	</ul>
	<ul>
		<li><h3>Press</h3></li>
		<li><a href="http://content.danlubbers.com/img/press/bio-climbing-issue-278.jpg" title="Climbing Magazine Issue:278">Climbing Magazine Issue:278</a></li>
		<li><a href="http://content.danlubbers.com/img/press/entourage-uc30.jpg" title="Urban Climber Magazine Issue:30 Entourage">Urban Climber Magazine Issue:30 Entourage</a></li>
		<li><a href="http://content.danlubbers.com/img/press/entourage-uc49.jpg" title="Urban Climber Magazine Photo Annual Issue:49 Entourage">Urban Climber Magazine Photo Annual Issue:49 Entourage</a></li>
		<li><a href="http://content.danlubbers.com/img/press/lubbers-pa.jpg" title="Urban Climber Magazine Photo Annual Issue:49 Visual">Urban Climber Magazine Photo Annual Issue:49 Visual</a></li>
	</ul>
	<a href="#" title="Close" class="close"><i></i>Close</a>
</div>
