<div id="about">
	<h2>About</h2>
	<div id="about-copy">
		<img src="img/bio.jpg" alt="Dan Lubbers" />
		<p>
			Dan Lubbers is a Photographer/Retoucher based in Louisville, Kentucky. A love of the outdoors has led Lubbers to places around the world like performing service work in Guatemala and roaming the pyramids of Ancient Egypt. Lubbers got his start with Extreme Sports Photography when he went on the La Sportiva Solutions Climbing Tour in 2007. Lubbers has really delved into a passion for Environmental & Beauty Portraiture and a love of good coffee usually leads one to find him at local coffee shops working diligently on his work when traveling.<br></br>
			"Life is too short not to create something with every breath we draw.” ~ Maynard James Keenan

			<a target="_blank" href="http://www.auroraphotos.com/result?selfCall=&searchMode=&plangcode=&self_url=%2F&current_stid=0&changeLanguage=&setNewPref=&setNewPrefValue=&page=0&initvalue4search=2&nmb_basket_articles=0&login=0&logout=0&nl_email=&login_email=&password=&searchKey=&searchKey=dan+lubbers&license_type%5B%5D=rm&license_type%5B%5D=rf&extParam%5Breleases%5D%5B%5D=r&extParam%5Breleases%5D%5B%5D=n&extParam%5Breleases%5D%5B%5D=x&search_orientation%5B%5D=h&search_orientation%5B%5D=v&search_orientation%5B%5D=q&search_orientation%5B%5D=p" title="Aurora Photos"><img src="img/aurora.png" alt="Aurora Photos" class="aurora"/></a>
			<a target="_blank" href="http://tandemstock.com/browse?q=dan+lubbers" title="Tandem Still & Motion"><img src="https://tandemstock.com/assets/tandem_logo_SM_white.png" width="200" alt="Tandem Stills & Motion" class="tandem"/></a>
		</p>
	</div>
	<ul>
		<li><h3>Clients</h3></li>
		<li><a target="_blank" href="http://www.amazon.com/" title="Amazon">Amazon</a></li>
		<li><a target="_blank" href="https://www.ohellomedia.com/" title="O Hello Media">O Hello Media</a></li>
		<li><a target="_blank" href="http://www.pwc.com/" title="PwC">PwC</a></li>
		<li><a target="_blank" href="http://www.menswearhouse.com/" title="Mens Wearhouse">Mens Wearhouse</a></li>
		<li><a target="_blank" href="http://www.sportiva.com/" title="La Sportiva">La Sportiva</a></li>
		<li><a target="_blank" href="http://www.prana.com/" title="Prana">Prana</a></li>
		<li><a target="_blank" href="http://www.mistymountain.com/" title="Misty Mountain Threadworks">Misty Mountain Threadworks</a></li>
		<li><a target="_blank" href="http://www.greenergrasspublishing.com/" title="Greener Grass Publishing">Greener Grass Publishing</a></li>
		<li><a target="_blank" href="http://www.dragcity.com/" title="Drag City Record Label">Drag City Record Label</a></li>
		<li><a target="_blank" href="http://www.bonnieprincebilly.com/" title="Bonnie Prince Billy">Bonnie Prince Billy</a></li>
		<li><a target="_blank" href="http://www.cheyennemize.com/" title="Cheyenne Mize">Cheyenne Mize</a></li>
		<li><a target="_blank" href="http://www.justinvining.com/" title="Justin Vining">Justin Vining</a></li>
		<li><a target="_blank" href="http://www.reduxpictures.com/" title="Redux Pictures">Redux Pictures</a></li>
		<li><a target="_blank" href="http://www.kelleybees.com/ " title="Kelley Beekeeping">Kelley Beekeeping</a></li>
	</ul>
	<ul>
		<li><h3>Editorials</h3></li>
		<li><a target="_blank" href="http://adventure.nationalgeographic.com/adventure/" title="National Geographic Adventure">National Geographic Adventure</a></li>
		<li><a target="_blank" href="http://www.rockandice.com/" title="Rock &amp; Ice Magazine">Rock &amp; Ice Magazine</a></li>
		<li><a target="_blank" href="http://www.climbing.com/" title="Climbing Magazine">Climbing Magazine</a></li>
		<li>Urban Climber Magazine</li>
		<li><a target="_blank" href="http://www.dpmclimbing.com/" title="Dead Point Magazine">Dead Point Magazine</a></li>
		<li><a target="_blank" href="http://www.uawfordcommunity.org/" title="UAW-Ford Community Magazine">UAW-Ford Community Magazine</a></li>
		<li><a target="_blank" href="http://www.spin.com/" title="Spin Magazine">Spin Magazine</a></li>
		<li><a target="_blank" href="http://icelandairwaves.is/" title="Icelandic Airwaves">Icelandic Airwaves</a></li>

	</ul>
	<ul>
		<li><h3>Press</h3></li>
		<li><a target="_blank" href="http://content.danlubbers.com/img/press/bio-climbing-issue-278.jpg" title="Climbing Magazine Issue:278">Climbing Magazine Issue:278</a></li>
		<li><a target="_blank" href="http://content.danlubbers.com/img/press/entourage-uc30.jpg" title="Urban Climber Magazine Issue:30 Entourage">Urban Climber Magazine Issue:30 Entourage</a></li>
		<li><a target="_blank" href="http://content.danlubbers.com/img/press/entourage-uc49.jpg" title="Urban Climber Magazine Photo Annual Issue:49 Entourage">Urban Climber Magazine Photo Annual Issue:49 Entourage</a></li>
		<li><a target="_blank" href="http://content.danlubbers.com/img/press/lubbers-pa.jpg" title="Urban Climber Magazine Photo Annual Issue:49 Visual">Urban Climber Magazine Photo Annual Issue:49 Visual</a></li>
	</ul>
	<a href="#" title="Close" class="close"><i></i>Close</a>
</div>
