<div id="contact">
	<h2>Contact</h2>
	<div id="contact-info">
		<p><strong>Email: </strong><a href="mailto:lubbers.dan@gmail.com" title="Contact me via Email">lubbers.dan@gmail.com</a></p>
		<ul>
			<!-- DELETED DAN LUBBERS PHOTOGRAPHS FACEBOOK BUSINESS PAGE<li class="like-button-mobile"><div class="fb-like" data-href="https://www.facebook.com/danlubbersphotographs" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-ref="mobile"></div></li>
			<li><a target="_blank" href="https://www.facebook.com/danlubbersphotographs" title="Facebook"><i class="icon-facebook"></i>Facebook</a></li>-->
			<!-- Never Use Google Plus <li><a target="_blank" href="https://plus.google.com/u/0/100665736300333186020/posts" title="Google Plus"><i class="icon-google-plus"></i>Google +</a></li>-->
			<li><a target="_blank" href="http://instagram.com/danlubbersphoto" title="Instagram"><i class="icon-camera-retro"></i>Instagram</a></li>
			<li><a target="_blank" href="https://twitter.com/danlubbers" title="Twitter"><i class="icon-twitter"></i>Twitter</a></li>
			<li><a target="_blank" href="http://500px.com/danlubbers" title="500px"><i class="icon-camera"></i>500px</a></li>
			<li><a target="_blank" href="https://www.linkedin.com/in/danlubbers/" title="LinkedIn"><i class="icon-linkedin"></i>LinkedIn</a></li>
		</ul>
	</div>

	<!---
	<form id="form1" name="form1" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://danlubbers.wufoo.com/forms/z7x3p9/#public">
		<ul>
			<li id="foli1">
				<label class="desc" id="title1" for="Field1">Name</label>
				<input id="Field1" name="Field1" type="text" value="" maxlength="255" tabindex="1" onkeyup="" placeholder="Name" required/>
			</li>
			<li id="foli2">
				<label class="desc" id="title2" for="Field2">Email</label>
				<input id="Field2" name="Field2" type="email" spellcheck="false" value="" tabindex="2" placeholder="Email Address" required/>
			</li>
			<li id="foli3">
				<label class="desc" id="title6" for="Field6">Phone Number</label>
				<input id="Field6" name="Field6" type="tel" value="" tabindex="3" placeholder="Phone Number" required/>
			</li>
			<li id="foli4">
				<textarea id="Field4" name="Field4" spellcheck="true" rows="10" cols="50" tabindex="6" onkeyup="" required></textarea>
			</li>
			<li>
				<button id="saveForm" name="saveForm" type="submit" value="Submit">Submit</button>
			</li>
			<input type="hidden" id="idstamp" name="idstamp" value="eOYLlh6ski5kCaJs8LLHk4qsixFgOxtgZGV3ID7UFt0=" />
		</ul>
	</form>
	--->

	<a href="#" title="Close" class="close"><i></i>Close</a>
</div>
