<ul id="sub-nav">
  {% for section in site.categories.sections %}
    {% if section.url %}<li><a href="{{ site.static_url }}{{ section.nav_url }}" title="{{ section.title | capitalize }}" {% if section.url == page.url %}class="active"{% endif %}>{{ section.title | capitalize }}</a></li>{% endif %}
  {% endfor %}
  <li>&nbsp;</li>
  {% for retouch in site.categories.retouch %}
    {% if retouch.url %}<li><a href="{{ site.static_url }}{{ retouch.nav_url }}" title="{{ retouch.title | capitalize }}" {% if retouch.url == page.url %}class="active"{% endif %}>{{ retouch.title | capitalize }}</a></li>{% endif %}
  {% endfor %}
</ul>
